.logo, .lang a, .social-float a { font: 0/0 a; text-shadow: none; color: transparent; }

.user-block { *zoom: 1; }
.user-block:before, .user-block:after { content: " "; display: table; }
.user-block:after { clear: both; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial,Helvetica,sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; color: #1f2224; background: #f5f5f5; }

a img, fieldset { border: none; }

a { color: #38bbff; }

header, footer, nav, aside { display: block; }

div.wrapper { padding-top: 50px; }

div.wrapper_user { padding-top: 107px; }

.in { margin: 0 auto; width: 962px; }

.btn, .btn_sm, .btn_sm_dark { background: #9bd61b; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliZDYxYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY0OWYwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9bd61b), color-stop(100%, #649f00)); background-image: -webkit-linear-gradient(#9bd61b, #649f00); background-image: -moz-linear-gradient(#9bd61b, #649f00); background-image: -o-linear-gradient(#9bd61b, #649f00); background-image: linear-gradient(#9bd61b, #649f00); color: #243900; text-decoration: none; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; border-radius: 3px; display: inline-block; text-align: center; border: 0; cursor: pointer; }
.btn:hover, .btn_sm:hover, .btn_sm_dark:hover { background: #fff51b; color: #3d3a00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjUxYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M4YmUwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff51b), color-stop(100%, #c8be00)); background-image: -webkit-linear-gradient(#fff51b, #c8be00); background-image: -moz-linear-gradient(#fff51b, #c8be00); background-image: -o-linear-gradient(#fff51b, #c8be00); background-image: linear-gradient(#fff51b, #c8be00); }
.btn:active, .btn_sm:active, .btn_sm_dark:active { background: #e4da00; color: #3d3a00; background-image: none; box-shadow: 0 2px 3px rgba(103, 97, 0, 0.33) inset; }

.btn { height: 55px; line-height: 51px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 6px #181a1b; font-size: 29px; padding: 0 58px; }
.btn:active { box-shadow: 0 2px 3px rgba(103, 97, 0, 0.33) inset, 0 0 0 6px #181a1b; }

.btn_sm { height: 47px; line-height: 42px; font-size: 21px; width: 234px; }

.btn_sm_dark { height: 47px; line-height: 42px; font-size: 21px; width: 220px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 4px rgba(0, 0, 0, 0.5); }

.h1, .content__text h1 { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 42px; margin: 7px 0; color: #000; }

.h2, .content__text h2 { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 28px; margin: 7px 0 16px; color: #000; }

.h3, .content__text h3 { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 22px; margin: 10px 0; color: #000; }

.link-more, .link-more_2, .link-more_bd { color: #0099d4; font-size: 12px; height: 31px; overflow: hidden; display: inline-block; }
.link-more span, .link-more_2 span, .link-more_bd span { float: left; border-radius: 2px 0 0 2px; padding: 0 3px 0 9px; }
.link-more i, .link-more_2 i, .link-more_bd i { float: left; }
.link-more:hover, .link-more_2:hover, .link-more_bd:hover { color: #fff; }
.link-more:hover span, .link-more_2:hover span, .link-more_bd:hover span { background: #bc3a13; }
.link-more:hover i, .link-more_2:hover i, .link-more_bd:hover i { background: url('../img/icons-s7dff960127.png') 0 -653px no-repeat; width: 12px; height: 31px; }
.link-more:active, .link-more_2:active, .link-more_bd:active { color: #fff; }
.link-more:active span, .link-more_2:active span, .link-more_bd:active span { background: #e54a1c; }
.link-more:active i, .link-more_2:active i, .link-more_bd:active i { background: url('../img/icons-s7dff960127.png') 0 -612px no-repeat; width: 12px; height: 31px; }

.link-more, .link-more_2 { line-height: 31px; }
.link-more span, .link-more_2 span { background: #f5f5f5; }
.link-more i, .link-more_2 i { background: url('../img/icons-s7dff960127.png') 0 -571px no-repeat; width: 12px; height: 31px; }

.link-more_2:hover { color: #fff; }
.link-more_2:hover span { background: #f1803c; }
.link-more_2:hover i { background: url('../img/icons-s7dff960127.png') 0 -694px no-repeat; width: 12px; height: 31px; }
.link-more_2:active { color: #fff; }
.link-more_2:active span { background: #e54a1c; }
.link-more_2:active i { background: url('../img/icons-s7dff960127.png') 0 -612px no-repeat; width: 12px; height: 31px; }

.link-more_bd { line-height: 29px; }
.link-more_bd span { border: 1px solid #d1d6da; border-right: 0; }
.link-more_bd i { background: url('../img/icons-s7dff960127.png') 0 -453px no-repeat; width: 12px; height: 31px; }
.link-more_bd:hover { line-height: 31px; }
.link-more_bd:hover span { border: 0; }
.link-more_bd:active { line-height: 31px; }
.link-more_bd:active span { border: 0; }

.header { height: 50px; background: #000; min-width: 982px; position: fixed; top: 0; left: 0; width: 100%; z-index: 10; }

.logo { float: left; margin: 8px 33px 0 -10px; background: url('../img/icons-s7dff960127.png') 0 -54px no-repeat; width: 121px; height: 36px; }
.logo a { display: block; height: 100%; color: transparent; }

.globalnav, .subnav { float: left; }
.globalnav ul, .subnav ul { float: left; }
.globalnav li, .subnav li { float: left; list-style: none; }
.globalnav a, .subnav a { display: block; color: #fff; text-decoration: none; }
.globalnav a:hover, .subnav a:hover { color: #fef200; }

.globalnav li { font-size: 13px; line-height: 50px; }
.globalnav a { padding: 0 13px; }
.globalnav a:hover { background: #0d0c0c; }

.lang { float: left; margin: 16px 0 0 45px; }
.lang li { float: left; list-style: none; margin: 0 12px 0 0; }
.lang a { display: block; opacity: 0.4; }
.lang a:hover { opacity: 0.6; }
.lang .lang__ukr { background: url('../img/icons-s7dff960127.png') 0 -735px no-repeat; width: 16px; height: 16px; }
.lang .lang__ru { background: url('../img/icons-s7dff960127.png') 0 -819px no-repeat; width: 16px; height: 16px; }
.lang .is-active a { opacity: 1; }

.member-login { float: right; font-size: 13px; margin-top: 8px; color: #fff; height: 36px; padding: 6px 11px 0; max-width: 135px; }
.member-login a { color: #38bbff; text-decoration: none; border-bottom: 1px dotted; display: inline-block; margin: 0 0 0 4px; }
.member-login a:hover { border: 0; }
.member-login.is-active { background: #1f2224; }

.user-block { background: #1f2224; font-size: 13px; color: #aab5bd; padding: 12px 0; position: fixed; top: 50px; left: 0; width: 100%; min-width: 982px; z-index: 10; }
.user-block .in { position: relative; }
.user-block .download-task { float: left; color: #38bbff; text-decoration: none; border-bottom: 1px solid #295f7c; position: relative; margin-left: 18px; }
.user-block .download-task:hover { border-color: transparent; }
.user-block .download-task i { background: url('../img/icons-s7dff960127.png') 0 -1024px no-repeat; width: 11px; height: 13px; display: block; left: -18px; top: 3px; position: absolute; }
.user-block .resume { float: left; margin: -2px 0 0 63px; }
.user-block .resume .resume__state { color: #bc3a13; }
.user-block .resume .resume__lin, .user-block .resume .resume__form { display: inline-block; color: #fff; line-height: 23px; padding: 0 7px; text-decoration: none; border-radius: 3px; margin: 0 0 0 5px; }
.user-block .resume .resume__lin { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxODliYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjI5NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2189bb), color-stop(100%, #006294)); background-image: -webkit-linear-gradient(#2189bb, #006294); background-image: -moz-linear-gradient(#2189bb, #006294); background-image: -o-linear-gradient(#2189bb, #006294); background-image: linear-gradient(#2189bb, #006294); }
.user-block .resume .resume__lin:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjI5NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxODliYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006294), color-stop(100%, #2189bb)); background-image: -webkit-linear-gradient(#006294, #2189bb); background-image: -moz-linear-gradient(#006294, #2189bb); background-image: -o-linear-gradient(#006294, #2189bb); background-image: linear-gradient(#006294, #2189bb); }
.user-block .resume .resume__form { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxN2Q4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUxNWQ2NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #717d87), color-stop(100%, #515d67)); background-image: -webkit-linear-gradient(#717d87, #515d67); background-image: -moz-linear-gradient(#717d87, #515d67); background-image: -o-linear-gradient(#717d87, #515d67); background-image: linear-gradient(#717d87, #515d67); }
.user-block .resume .resume__form:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxNWQ2NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcxN2Q4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515d67), color-stop(100%, #717d87)); background-image: -webkit-linear-gradient(#515d67, #717d87); background-image: -moz-linear-gradient(#515d67, #717d87); background-image: -o-linear-gradient(#515d67, #717d87); background-image: linear-gradient(#515d67, #717d87); }
.user-block .user-block__close { background: url('../img/icons-s7dff960127.png') 0 -548px no-repeat; width: 13px; height: 13px; position: absolute; top: 4px; right: -28px; }
.user-block .user-block__close:hover { opacity: 0.7; }
.user-block .user-block__link { float: right; border-bottom: 1px dotted; margin: 0 12px; text-decoration: none; }
.user-block .user-block__link:hover { border-color: transparent; }

.social-float { background: #00adef; position: fixed; top: 50%; right: 0; margin-top: -57px; z-index: 10; }
.social-float a { display: block; margin: 12px 6px; }
.social-float .vk { background: url('../img/icons-s7dff960127.png') 0 -228px no-repeat; width: 22px; height: 22px; }
.social-float .vk:hover { background: url('../img/icons-s7dff960127.png') 0 -196px no-repeat; width: 22px; height: 22px; }
.social-float .fb { background: url('../img/icons-s7dff960127.png') 0 -325px no-repeat; width: 22px; height: 23px; }
.social-float .fb:hover { background: url('../img/icons-s7dff960127.png') 0 -292px no-repeat; width: 22px; height: 23px; }
.social-float .tw { background: url('../img/icons-s7dff960127.png') 0 -132px no-repeat; width: 22px; height: 22px; }
.social-float .tw:hover { background: url('../img/icons-s7dff960127.png') 0 -100px no-repeat; width: 22px; height: 22px; }

.main { background: #f5f5f5; min-width: 982px; display: inline-block; width: 100%; }

.content { float: left; width: 634px; padding: 25px 0 50px; }

.content__text p { line-height: 1.57; margin: 10px 0 26px; }
.content__text ul { margin-bottom: 30px; }
.content__text ul li { list-style: none; position: relative; margin: 10px 0 13px; }
.content__text ul li:before { content: ''; position: absolute; left: -26px; top: 10px; height: 1px; width: 16px; background: #000; }
.content__text ol { margin-bottom: 30px; }
.content__text ol li { list-style-type: decimal; margin: 10px 0 13px; }
.content__text blockquote { position: relative; color: #677781; margin: 35px 60px 35px 82px; }
.content__text blockquote p { margin: 10px 0 16px; }
.content__text blockquote:before { content: ''; position: absolute; left: 0; top: -12px; height: 2px; width: 60px; background: #aab5bd; }

.figure { margin: 0 -20px 38px 0; }
.figure img { margin-right: 18px; }

.spoiler { margin: 20px 0; border-radius: 3px; overflow: hidden; }
.spoiler .spoiler__title { background: #dedacc; padding-left: 43px; position: relative; border-radius: 3px 3px 0 0; cursor: pointer; }
.spoiler .spoiler__title strong { font-size: 14px; color: #655e4f; display: inline-block; line-height: 44px; border-left: 1px solid #c9c4b1; padding: 0 17px; }
.spoiler .spoiler__arr { background: url('../img/icons-s7dff960127.png') 0 -1047px no-repeat; width: 8px; height: 15px; position: absolute; cursor: pointer; top: 15px; left: 19px; }
.spoiler .spoiler__content { border: 1px solid #dedacc; background: #f2f1ef; border-radius: 0 0 3px 3px; line-height: 1.57; padding: 20px 30px 23px; display: none; }

.spoiler_open .spoiler__arr { background: url('../img/icons-s7dff960127.png') 0 -1072px no-repeat; width: 15px; height: 8px; top: 20px; left: 14px; }
.spoiler_open .spoiler__content { display: block; }

.t { border-collapse: separate; border-spacing: 0; width: 100%; margin: 45px 0; }
.t th { border-left: 2px solid #f5f5f5; text-align: left; color: #655e4f; font-size: 12px; padding: 6px 0 7px; box-shadow: 0 -1px 0 #aab5bd inset; line-height: 20px; }
.t th:first-child { border-left: 0; }
.t td { border-top: 1px solid #f5f5f5; border-bottom: 1px solid #d4d9dc; border-left: 2px solid #f5f5f5; padding: 6px 0; line-height: 29px; }
.t td:first-child { border-left: 0; }
.t .t__col1 { width: 326px; }
.t .t__col2 { width: 152px; }
.t .t__col3 { text-align: right; width: 152px; }
.t .t__green td { background: #ddead2; }
.t .t__pink td { background: #e9d3cd; }

.t_mark th { border-bottom: 5px solid #f5f5f5; box-shadow: 0 -1px 0 #dedacc inset; }
.t_mark td { padding: 6px 10px; border-bottom: 2px solid #f5f5f5; }
.t_mark .t__col1 { width: 306px; }
.t_mark .t__col2 { width: 132px; }
.t_mark .t__col3 { width: 132px; }

.load-file { overflow: hidden; margin: 13px 0 20px; }
.load-file a { color: #0099d4; line-height: 1.1; }
.load-file .load-file__icon { background: url('../img/icons-s7dff960127.png') 0 -845px no-repeat; width: 24px; height: 29px; float: left; margin: 2px 8px 0 0; }
.load-file span { font-size: 10px; color: #7b8992; text-decoration: none; display: block; }

.sidebar { float: right; width: 234px; padding: 42px 0 70px; }

.banner { display: block; margin: 43px 0 21px; }
.banner img { vertical-align: top; }

.banner-code { text-align: center; font-size: 11px; margin: 0 0 36px; }
.banner-code a { color: #0099d4; }

.social { min-width: 982px; padding: 42px 0 71px; background: #fff; overflow: hidden; }
.social .h2, .social .content__text h2, .content__text .social h2 { float: left; width: 225px; }
.social .social__list { float: right; }
.social .social__box { float: left; margin: 20px 0 0 45px; width: 200px; }
.social .social__box_first { margin-left: 0; }

.solved-now { padding: 35px 0 40px; text-align: center; background: #1f2224; min-width: 982px; }
.solved-now p { color: #7b8992; font-size: 12px; margin-bottom: 30px; }
.solved-now h2 { font-size: 24px; color: #fff; font-weight: normal; font-family: 'Open Sans', sans-serif; }

.footer-nav { background: #282c2e; height: 66px; min-width: 982px; }

.subnav li { line-height: 66px; font-size: 12px; margin-right: 28px; }

.ch-num { float: right; margin: 23px 0 0 0; }
.ch-num li { float: left; font-size: 14px; margin: 0 7px; list-style: none; }
.ch-num a { color: #00adef; text-decoration: none; }
.ch-num a:hover { color: #feef00; }

.footer { background: #000; overflow: hidden; width: 100%; min-width: 982px; padding: 33px 0; line-height: 1.385; }
.footer .footer__email { width: 328px; float: left; color: #aab5bd; font-size: 13px; }
.footer .footer__email a { color: #38bbff; }
.footer .footer__email p { margin-bottom: 19px; }
.footer .footer__contacts { float: left; width: 328px; font-size: 13px; }
.footer .footer__contacts dt { display: block; color: #7b8992; }
.footer .footer__contacts dd { display: block; color: #fff; margin-bottom: 19px; }
.footer .footer__rights { float: left; width: 306px; color: #7b8992; font-size: 13px; }
.footer .footer__rights p { margin-bottom: 4px; }
.footer .footer__rights a { color: #7b8992; text-decoration: none; }
.footer .footer__rights a:hover { text-decoration: underline; }

.stfalcon-logo { background: url('../img/icons-s7dff960127.png') 0 -422px no-repeat; width: 21px; height: 21px; display: inline-block; vertical-align: middle; }
