.h2_event { text-align: center; font-size: 36px; padding-bottom: 20px; position: relative; font-family: 'Open Sans',sans-serif; font-weight: 300; }
.h2_event:after { position: absolute; content: ''; width: 125px; height: 1px; bottom: 0; left: 50%; margin-left: -63px; background: #e8e8e8; }

.promo_event { height: 368px; overflow: hidden; background: url("../img/top-event.jpg") 50% 0 no-repeat; background-size: cover; }
.promo_event .slogan { padding: 90px 0 50px; position: relative; text-align: center; }
.promo_event .slogan:before { position: absolute; content: ''; width: 232px; height: 1px; top: 48px; left: 50%; margin-left: -116px; background: #62615e; }
.promo_event .event-date { text-align: center; font-size: 28px; color: #fff; font-family: 'Open Sans',sans-serif; font-weight: 600; }

.amounts { background: #f5f5f5; text-align: center; padding: 37px 0 36px; font-size: 0; }
.amounts li { display: inline-block; vertical-align: top; line-height: 1; list-style: none; color: #7b8992; font-size: 14px; width: 245px; border-left: 1px dotted #cac7c3; }
.amounts li:first-child { border-left: none; }

.amounts__num { font-size: 48px; color: #000; display: block; font-family: 'Open Sans',sans-serif; font-weight: 300; margin-bottom: 17px; }

.reasons { background: #fff; padding: 38px 0 15px; }

.reasons__list { padding: 47px 0 0; list-style: none; font-size: 15px; margin: 0 -11px; overflow: hidden; }
.reasons__list li { float: left; margin: 0 11px 45px; padding-left: 84px; position: relative; }
.reasons__list li:before { position: absolute; content: ''; background: url('../img/icons-s7d5cf9b1ef.png') 0 -100px no-repeat; width: 39px; height: 37px; top: 2px; left: 28px; }

.reasons__item-hold { display: table-cell; vertical-align: middle; min-width: 222px; height: 42px; }

.reg-block { background: url(../img/bg-reg.jpg) 50% 0 no-repeat; background-size: cover; height: 153px; text-align: center; display: table; width: 100%; }
.reg-block .btn_sm_dark { width: 260px; }
.reg-block p { font-size: 13px; color: #fff; margin: -11px 0 15px; }

.reg-block__holder { display: table-cell; vertical-align: middle; height: 153px; width: 100%; }

.forum-points { padding: 35px 0 0; }

.forum-points__list { text-align: center; font-size: 0; margin: 0 -12px; }
.forum-points__list li { display: inline-block; vertical-align: top; list-style: none; width: 220px; font-size: 13px; margin: 39px 54px 55px; }
.forum-points__list p { color: #7b8992; line-height: 1.65em; }

.forum-points__media { height: 105px; }

.forum-points__title { font-family: 'Open Sans',sans-serif; font-size: 20px; font-weight: 300; color: #000; line-height: 1.1; margin-bottom: 12px; min-height: 44px; }

.experst { padding: 37px 0 64px; }

.experts__list { padding: 47px 0 0; list-style: none; text-align: center; margin: 0 -10px; }
.experts__list li { display: inline-block; margin: 0 11px 11px; cursor: pointer; }
.experts__list li:hover .expert__name { opacity: 1; -moz-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; -webkit-transition: opacity 0.3s ease-in-out; -ms-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }

.expert__info, .expert__photo, .expert__name { width: 138px; border-radius: 50%; }

.expert__photo, .expert__name { top: 0; left: 0; position: absolute; }

.expert__info { position: relative; height: 138px; }

.expert__photo { height: 138px; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; }

.expert__name { opacity: 0; height: 90px; padding-top: 48px; font-size: 16px; line-height: 1.375; color: #1f2224; font-weight: bold; background: rgba(245, 245, 245, 0.9); }

.reviews_event { padding: 37px 0 0; overflow: hidden; }
.reviews_event .h2_event:after { background: #c5c1b2; }
.reviews_event .reviews__item { width: 380px; margin: 20px 68px 22px 0; }
.reviews_event .reviews__list { padding-left: 62px; }
.reviews_event .reviews__list:after { content: ""; display: block; clear: both; }
.reviews_event blockquote { margin-top: 4px; width: 265px; }
.reviews_event .link-more { margin-left: 144px; }

.reviews__text { color: #655e4f; font-size: 13px; line-height: 1.69; text-align: center; padding: 23px 0 19px; }
.reviews__text a { color: #009ad4; text-decoration: underline; }
.reviews__text a:hover { text-decoration: none; }
