.promo_master-class { height: 386px; padding-top: 48px; overflow: hidden; text-align: center; color: #fff; background: url("../img/top-master-class.jpg") no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.promo_master-class .slogan { line-height: 1.15; margin-bottom: 23px; padding: 0; position: relative; font-size: 48px; height: 110px; }
.promo_master-class .promo__title { text-transform: uppercase; font-size: 15px; font-weight: 400; letter-spacing: 5px; display: block; margin-bottom: 18px; font-family: 'Open Sans',sans-serif; }
.promo_master-class .promo__title:before, .promo_master-class .promo__title:after { background: url('../img/icons-s6ef0b1e6a2.png') 0 -1370px no-repeat; width: 11px; height: 10px; content: ''; display: inline-block; position: relative; top: -1px; }
.promo_master-class .promo__title:before { margin-right: 10px; }
.promo_master-class .promo__title:after { margin-left: 5px; }
.promo_master-class .promo__spiker { font-size: 20px; font-weight: bold; letter-spacing: 0.065em; margin-bottom: 27px; font-family: 'Open Sans',sans-serif; }
.promo_master-class .promo__date { font-family: 'Open Sans',sans-serif; line-height: 1; background: url('../img/icons-s6ef0b1e6a2.png') 0 -964px no-repeat; width: 798px; height: 130px; margin: 0 auto; font-size: 17px; }
.promo_master-class .promo__date strong { font-weight: 400; font-size: 42px; display: block; padding: 16px 0 2px; }
.promo_master-class .promo__time { font-size: 20px; font-weight: bold; display: block; padding: 11px 0 0; }

.main_master-class { background: #fff; }

.master-class-text { width: 628px; border-radius: 0 0 12px 12px; margin: 0 auto; background: #f5f5f5; color: #1f2224; font-size: 16px; padding: 23px 45px 30px; line-height: 1.5; position: relative; margin-bottom: 45px; }
.master-class-text:before { position: absolute; top: -24px; border: 12px solid transparent; border-bottom-color: #f5f5f5; left: 50%; margin-left: -12px; content: ''; z-index: 5; }

.master-class-faq { list-style: none; overflow: hidden; width: 962px; margin: 0 auto 47px; }
.master-class-faq li { float: left; width: 330px; margin-left: 62px; padding-left: 120px; position: relative; min-height: 100px; }
.master-class-faq li:first-child { margin-left: 0; }
.master-class-faq p { font-size: 15px; color: #1f2224; line-height: 1.6; }

.master-class-faq__media { position: absolute; top: 13px; left: 0; }

.master-class-faq__title { font-size: 28px; color: #000; font-family: 'Open Sans',sans-serif; font-weight: 300; margin-bottom: 15px; }

.reg-block_master-class { background: url(../img/bg-reg-master-class-.jpg) no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; height: 176px; text-align: center; display: table; width: 100%; }
.reg-block_master-class .btn_sm_dark { width: 420px; }
.reg-block_master-class p { font-size: 13px; color: #fff; margin: -11px 0 15px; }
.reg-block_master-class .reg-block__holder { height: 176px; }

.reg-block_small { height: 132px; }
.reg-block_small .reg-block__holder { height: 132px; }
.reg-block_small .btn_sm_dark { width: 380px; }

.master-class-price li { list-style: none; vertical-align: middle; }
.master-class-price strong { display: block; font-weight: normal; font-size: 13px; color: #fffefe; }
.master-class-price .price { font-size: 32px; }

.spiker { background: #dedacc; padding: 45px 0 50px; }

.spiker__inner { width: 962px; margin: 0 auto; }

.spiker__photo { width: 176px; height: 176px; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; border-radius: 50%; margin: 0 auto 20px; position: relative; }
.spiker__photo:before, .spiker__photo:after { position: absolute; content: ''; top: 83px; }
.spiker__photo:before { left: -315px; background: url('../img/icons-s6ef0b1e6a2.png') 0 -215px no-repeat; width: 251px; height: 11px; }
.spiker__photo:after { right: -315px; background: url('../img/icons-s6ef0b1e6a2.png') 0 -236px no-repeat; width: 251px; height: 11px; }

.spiker__name { font-size: 42px; font-family: 'Open Sans',sans-serif; font-weight: 300; text-align: center; color: #896e5d; margin-bottom: 10px; }

.spiker__activity { color: #938c7a; font-size: 14px; font-weight: normal; text-align: center; margin-bottom: 7px; }

.spiker__about { color: #655e4f; font-size: 16px; line-height: 1.5; padding: 35px 250px 0; position: relative; }
.spiker__about:before { position: absolute; background: url('../img/icons-s6ef0b1e6a2.png') 0 -257px no-repeat; width: 11px; height: 11px; content: ''; left: 50%; margin-left: -5px; top: 8px; }

.uwc-help { width: 962px; margin: 0 auto; padding: 33px 0 10px; }

.uwc-help__title { color: #814132; font-size: 28px; font-family: 'Open Sans',sans-serif; font-weight: 400; text-align: center; margin-bottom: 30px; }

.uwc-help__items { list-style: none; overflow: hidden; padding-left: 60px; }
.uwc-help__items li { float: left; width: 306px; margin-left: 82px; padding: 35px 0 0 104px; position: relative; min-height: 100px; }
.uwc-help__items li:first-child { margin-left: 0; }
.uwc-help__items p { font-size: 16px; color: #1f2224; line-height: 1.6; }
.uwc-help__items .img-coffee { position: absolute; left: 5px; top: 14px; }
.uwc-help__items .img-mic { position: absolute; left: 25px; top: 22px; }

.tell-friends { border: 1px solid #c3beac; border-radius: 5px; width: 962px; margin: 22px auto; padding: 15px 0 18px; }

.tell-friends__title { font-size: 28px; font-weight: normal; color: #000; text-align: center; font-family: 'Open Sans',sans-serif; margin-bottom: 11px; }

.tell-friends__social { width: 450px; margin: 0 auto; }

.partners_master-class { padding: 25px 0 5px; }
.partners_master-class .partners__list { text-align: center; margin-bottom: 0; }
.partners_master-class .partners__list li { list-style: none; display: inline-block; margin: 0 43px; }
.partners_master-class .partners__type { color: #AAB5BD; font-size: 13px; line-height: 1.69; display: inline-block; margin-right: 25px; }
.partners_master-class .partners__logo { display: inline-block; }

.master-classes { padding: 53px 0 23px; }

.master-classes__title { font-size: 28px; color: #000; font-family: 'Open Sans',sans-serif; font-weight: 300; min-height: 57px; margin-bottom: 12px; }

.master-classes__list { overflow: hidden; margin-bottom: 17px; }
.master-classes__list li { float: left; list-style: none; padding: 0 0 0 5px; max-width: 325px; margin-bottom: 25px; }

.master-classes__spiker-photo { height: 80px; margin-right: 20px; width: 80px; overflow: hidden; border-radius: 50%; float: left; }

.master-classes__content { float: left; padding-top: 5px; width: 225px; }

.master-classes__name { font-size: 15px; margin-bottom: 10px; }
.master-classes__name a { color: #009ad4; }
.master-classes__name a:hover { text-decoration: none; }

.master-classes__spiker-name { font-size: 11px; color: #886d5d; }
