@import "base";

*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
		family: Arial,Helvetica,sans-serif;
		weight: normal;
		size: 14px;
	}
	line-height:1.4;
	color: #1f2224;
	background: #f5f5f5;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#38bbff;
	&:hover{

	}
}
header,footer, nav, aside{display: block;}
// common styles, these could be attached to any block with "@extend %wyswyg;"
%wyswyg{
	p{
		margin-bottom: 1em;
	}
	ul,ol{
		margin: 1em 2em;
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	blockquote{
		margin: 1em 2em;
	}
	table{
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		td{
			border: 1px solid #ccc;
			padding: 5px;
		}
	}
}
div.wrapper{padding-top: 50px;}
div.wrapper_user{padding-top: 107px;}
.in{
	margin: 0 auto;
	width: 962px;
}

%btn{
	background: #9bd61b;
	@include background-image(linear-gradient(#9bd61b, #649f00));
	color: #243900;
	text-decoration: none;
	text-shadow:0 1px 0 rgba(white,.25);
	box-shadow:0 1px 0 rgba(white,.3) inset;
	border-radius:3px;
	display: inline-block;
	text-align: center;
	border:0;
	cursor: pointer;
	&:hover{
		background: #fff51b;
		color:#3d3a00;
		@include background-image(linear-gradient(#fff51b, #c8be00));
		box-shadow:0 0 0 1px rgba(188,179,18,.55) inset;
	}
	&:active{
		background: #e4da00;
		color:#3d3a00;
		background-image: none;
		box-shadow:0 2px 3px rgba(103,97,0,.33) inset;
	}
}
.btn{
	@extend %btn;
	height: 55px;
	line-height: 51px;
	box-shadow:0 1px 0 rgba(white,.3) inset, 0 0 0 6px #181a1b;
	font-size: 29px;
	padding: 0 58px;
	&:active{
		box-shadow:0 2px 3px rgba(103,97,0,.33) inset, 0 0 0 6px #181a1b;
	}
}
.btn_sm{
	@extend %btn;
	height: 47px;
	line-height: 42px;
	font-size: 21px;
	width: 234px;
}
.btn_sm_dark{
	@extend %btn;
	height: 47px;
	line-height: 47px;
	font-size: 21px;
	width: 220px;
	box-shadow:0 1px 0 rgba(white,.3) inset, 0 0 0 4px rgba(0,0,0,.5);
}
.btn_enter{
	@extend %btn;
	height: 36px;
	width: 126px;
	font-size: 17px;
	color: #1f2224;
	@include background-image(linear-gradient(#d8dee3, #b8bec3));
}
.h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 42px;
	margin: 7px 0;
	color: #000;
}
.h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin: 7px 0 16px;
	color: #000;
}
.h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin: 10px 0;
	color: #000;
}
%link-more{
	color: #0099d4;
	font-size: 12px;
	height: 31px;
	overflow: hidden;
	display: inline-block;
	span{
		float: left;
		border-radius:2px 0 0 2px;
		padding: 0 3px 0 9px;
	}
	i{
		float: left;
	}
	&:hover{
		color:#fff;
		span{background: #bc3a13;}
		i{@include sized-sprite($icons, 'link-arr3');}
	}
	&:active{
		color:#fff;
		span{background: #e54a1c;}
		i{@include sized-sprite($icons, 'link-arr5');}
	}
}
.link-more, .link-more_2{
	@extend %link-more;
	line-height: 31px;
	span{background: #f5f5f5;}
	i{@include sized-sprite($icons, 'link-arr1');}
}
.link-more_2{
	&:hover{
		color:#fff;
		span{background: #f1803c;}
		i{@include sized-sprite($icons, 'link-arr4');}
	}
	&:active{
		color:#fff;
		span{background: #e54a1c;}
		i{@include sized-sprite($icons, 'link-arr5');}
	}
}
.link-more_bd{
	@extend %link-more;
	line-height: 29px;
	span{
		border:1px solid #d1d6da;
		border-right:0;
	}
	i{
		@include sized-sprite($icons, 'link-arr2');
	}
	&:hover{
		line-height: 31px;
		span{border:0;}
	}
	&:active{
		line-height: 31px;
		span{border:0;}
	}
}

$header_height : 65px;

//header-
.header{
	height: $header_height;
	background: #000;
	min-width: 982px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.logo{
	float: left;
	margin: 0 33px 0 -10px;
	margin-top: ($header_height - 36px)/2;
	@include sized-sprite($icons, 'logo');
	a{
		display: block;
		height: 100%;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
}
%nav{
	float: left;
	ul{float: left;}
	li{
		float: left;
		list-style: none;
	}
	a{
		display: block;
		color: #fff;
		text-decoration: none;
		&:hover{color: #fef200;}
	}
}
.globalnav{
	@extend %nav;
	li{
		font-size: 13px;
		line-height: $header_height;
	}
	a{padding: 0 13px;}
	a:hover{background: #0d0c0c;}
}
.lang{
	float: left;
	margin-left: 45px;
	margin-top: ($header_height - 16px)/2;
	li{
		float: left;
		list-style: none;
		margin: 0 12px 0 0;
	}
	a{
		display: block;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		opacity: 0.4;
		&:hover{opacity: 0.6;}
	}
	.lang__ukr{
		@include sized-sprite($icons, 'lang_ukr');
	}
	.lang__ru{
		@include sized-sprite($icons, 'lang_ru');
	}
	.is-active a{opacity: 1;}
}
.member-login{
	float: right;
	font-size: 13px;
	margin-top: 8px;
	color:#fff;
	height: ($header_height - 18px)/2 + 20px;
	padding: 0 11px;
	padding-top: ($header_height - 18px)/2 - 10px;
	max-width: 135px;
	a{
		color: #38bbff;
		text-decoration: none;
		border-bottom:1px dotted;
		display: inline-block;
		margin: 0 0 0 4px;
		&:hover{
			border: 0;
		}
	}
	&.is-active{
		background: #1f2224;
	}
}


//user-block
.user-block{
	background: #1f2224;
	font-size: 13px;
	color: #aab5bd;
	padding: 12px 0;
	position: fixed;
	top:50px;
	left: 0;
	width: 100%;
	min-width: 982px;
	z-index: 10;
	.in{position: relative;}
	@extend %clr;
	.download-task{
		float: left;
		color: #38bbff;
		text-decoration: none;
		border-bottom:1px solid #295f7c;
		position: relative;
		margin-left: 18px;
		&:hover{border-color:transparent;}
		i{
			@include sized-sprite($icons, 'load2');
			display: block;
			left: -18px;
			top: 3px;
			position: absolute;
		}
	}
	.resume{
		float: left;
		margin: -2px 0 0 63px;
		.resume__state{
			color: #bc3a13;
		}
		.resume__lin, .resume__form{
			display: inline-block;
			color: #fff;
			line-height: 23px;
			padding: 0 7px;
			text-decoration: none;
			border-radius:3px;
			margin: 0 0 0 5px;
		}
		.resume__lin{
			@include background-image(linear-gradient(#2189bb, #006294));
			&:hover{
				@include background-image(linear-gradient(#006294, #2189bb));
			}
		}
		.resume__form{
			@include background-image(linear-gradient(#717d87, #515d67));
			&:hover{
				@include background-image(linear-gradient(#515d67, #717d87));
			}
		}
	}
	.user-block__close{
		@include sized-sprite($icons, 'close_min');
		position: absolute;
		top:4px;
		right:-28px;
		&:hover{opacity: 0.7;}
	}
	.user-block__link{
		float: right;
		border-bottom:1px dotted;
		margin: 0 12px;
		text-decoration: none;
		&:hover{
			border-color:transparent;
		}
	}
}

// social-float
.social-float{
	background: #00adef;
	position: fixed;
	top:50%;
	right: 0;
	margin-top: -57px;
	z-index: 10;
	a{
		display: block;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		margin: 12px 6px;
	}
	.vk{@include sized-sprite($icons, 'vk2');}
	.vk:hover{@include sized-sprite($icons, 'vk3');}
	.fb{@include sized-sprite($icons, 'fb2');}
	.fb:hover{@include sized-sprite($icons, 'fb3');}
	.tw{@include sized-sprite($icons, 'tw2');}
	.tw:hover{@include sized-sprite($icons, 'tw3');}
}


//main
.main{
	background: #f5f5f5;
	min-width: 982px;
	display: inline-block;
	width: 100%;
}

//content
.content{
	float: left;
	width: 634px;
	padding: 25px 0 50px;
}
.content__text{
	h1{
		@extend .h1;
	}
	h2{
		@extend .h2;
	}
	h3{
		@extend .h3;
	}
	p{
		line-height: 1.57;
		margin: 10px 0 26px;
	}
	ul{
		margin-bottom: 30px;
		li{
			list-style: none;
			position: relative;
			margin: 10px 0 13px;
			&:before{
				content:'';
				position: absolute;
				left:-26px;
				top:10px;
				height: 1px;
				width: 16px;
				background: #000;
			}
		}
	}
	ol{
		margin-bottom: 30px;
		li{
			list-style-type: decimal;
			margin: 10px 0 13px;
		}
	}
	blockquote{
		position: relative;
		color:#677781;
		margin: 35px 60px 35px 82px;
		p{margin: 10px 0 16px;}
		&:before{
			content:'';
			position: absolute;
			left:0;
			top: -12px;
			height: 2px;
			width: 60px;
			background: #aab5bd;
		}
	}
}
.figure{
	margin: 0 -20px 38px 0;
	img{margin-right: 18px;}
}
.spoiler{
	margin: 20px 0;
	border-radius:3px;
	overflow: hidden;
	.spoiler__title{
		background: #dedacc;
		padding-left: 43px;
		position: relative;
		border-radius:3px 3px 0 0;
		cursor: pointer;
		strong{
			font-size: 14px;
			color:#655e4f;
			display: inline-block;
			line-height: 44px;
			border-left:1px solid #c9c4b1;
			padding: 0 17px;
		}
	}
	.spoiler__arr{
		@include sized-sprite($icons, 'spoiler-arr1');
		position: absolute;
		cursor: pointer;
		top:15px;
		left:19px;
	}
	.spoiler__content{
		border:1px solid #dedacc;
		background: #f2f1ef;
		border-radius:0 0 3px 3px;
		line-height: 1.57;
		padding: 20px 30px 23px;
		display: none;
	}
}
.spoiler_open{
	.spoiler__arr{
		@include sized-sprite($icons, 'spoiler-arr2');
		top: 20px;
		left: 14px;
	}
	.spoiler__content{display: block;}
}
.t{
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin: 45px 0;
	th{
		border-left:2px solid #f5f5f5;
		text-align: left;
		color:#655e4f;
		font-size: 12px;
		padding: 6px 0 7px;
		box-shadow:0 -1px 0 #aab5bd inset;
		line-height: 20px;
		&:first-child{
			border-left:0;
		}
	}
	td{
		border-top:1px solid #f5f5f5;
		border-bottom: 1px solid #d4d9dc;
		border-left:2px solid #f5f5f5;
		padding: 6px 0;
		line-height: 29px;
		&:first-child{
			border-left:0;
		}
	}
	.t__col1{width: 326px;}
	.t__col2{width: 152px;}
	.t__col3{
		text-align: right;
		width: 152px;
	}
	.t__green td{background: #ddead2;}
	.t__pink td{background: #e9d3cd;}
}
.t_mark{
	th{
		border-bottom:5px solid #f5f5f5;
		box-shadow:0 -1px 0 #dedacc inset;
	}
	td{
		padding: 6px 10px;
		border-bottom:2px solid #f5f5f5;
	}
	.t__col1{width: 306px;}
	.t__col2{width: 132px;}
	.t__col3{width: 132px;}
}

.load-file{
	overflow: hidden;
	margin: 13px 0 20px;
	a{
		color: #0099d4;
		line-height: 1.1;
	}
	.load-file__icon{
		@include sized-sprite($icons, 'load');
		float: left;
		margin: 2px 8px 0 0;
	}
	span{
		font-size: 10px;
		color: #7b8992;
		text-decoration: none;
		display: block;
	}
}


//sidebar
.sidebar{
	float: right;
	width: 234px;
	padding: 42px 0 70px;
}
.banner{
	display: block;
	margin: 43px 0 21px;
	img{vertical-align: top;}
}
.banner-code{
	text-align: center;
	font-size: 11px;
	margin: 0 0 36px;
	a{
		color: #0099d4;
	}
}

//social
.social{
	min-width: 982px;
	padding: 42px 0 71px;
	background: #fff;
	overflow: hidden;
	.h2{
		float: left;
		width: 225px;
	}
	.social__list{
		float: right;
	}
	.social__box{
		float: left;
		margin: 20px 0 0 45px;
		width: 200px;
	}
	.social__box_first{margin-left: 0;}
}

//solved-now
.solved-now{
	padding: 35px 0 40px;
	text-align: center;
	background: #1f2224;
	min-width: 982px;
	p{
		color: #7b8992;
		font-size: 12px;
		margin-bottom: 30px;
	}
	h2{
		font-size: 24px;
		color: #fff;
		font-weight: normal;
		font-family: 'Open Sans', sans-serif;
	}
}


//footer-nav
.footer-nav{
	background: #282c2e;
	height: 66px;
	min-width: 982px
}
.subnav{
	@extend %nav;
	li{
		line-height: 62px;
		font-size: 15px;
		margin-right: 34px;
		letter-spacing: 0.04em;
	}
	a{
		//text-decoration: underline;
		padding-top: 4px;
		&:hover{
			text-decoration: none;
		}
	}
}
.ch-num{
	float: right;
	margin: 21px 0 0 0;
	li{
		float: left;
		font-size: 15px;
		margin: 0 0 0 14px;
		list-style: none;
	}
	a{
		color: #00adef;
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}


//footer
.footer{
	background: #000;
	overflow: hidden;
	width: 100%;
	min-width: 982px;
	padding: 33px 0;
	line-height: 1.385;
	.footer__email{
		width: 328px;
		float: left;
		color: #aab5bd;
		font-size: 13px;
		a{
			color: #38bbff;
		}
		p{
			margin-bottom: 19px;
		}
	}
	.footer__contacts{
		float: left;
		width: 328px;
		font-size: 13px;
		dt{
			display: block;
			color: #7b8992;
		}
		dd{
			display: block;
			color: #fff;
			margin-bottom: 19px;
		}
	}
	.footer__rights{
		float: left;
		width: 306px;
		color: #7b8992;
		font-size: 13px;
		p{
			margin-bottom: 4px;
		}
		a{
			color: #7b8992;
			text-decoration: none;
			&:hover{text-decoration: underline;}
		}
	}
}
.stfalcon-logo{
	@include sized-sprite($icons, 'bird');
	display: inline-block;
	vertical-align: middle;
}




// body{
// 	@include perspective(1000);
// }

// .space{
// 	@include transform-style(preserve-3d);
// 	position: relative;
// 	.space__front{
// 		-webkit-transform-origin: 50% 50% -1000px;
// 		-webkit-transition: 0.6s;
// 		body:hover &{
// 			@include transform(rotate3d(0,1,0,-90deg));
// 		}
// 	}
// 	.space__right{
// 		position: absolute;
// 		width: 100%;
// 		height: 500px;
// 		z-index: 100;
// 		background: red;
// 		right: 0;
// 		top: 0;
//  		-webkit-transform-origin: 0 0 -400px ;
// 		@include transform(rotate3d(0,1,0,90deg) translate(100%,0));
// 		-webkit-transition: 0.6s;
// 		body:hover &{
// 			@include transform(rotate3d(0,0,0,0deg) translate(0,0));
// 		}

// 	}
// }


