@import "base";
.promo_master-class{
	height: 434px - 48px;
	padding-top: 48px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background: url("../img/top-master-class.jpg") no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.slogan{
		line-height: 1.15;
		margin-bottom: 23px;
		padding: 0;
		position: relative;
		font-size: 48px;
		height: 110px;
	}
	.promo__title{
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 5px;
		display: block;
		margin-bottom: 18px;
		font-family: 'Open Sans',sans-serif;
		&:before, &:after{
			@include sized-sprite($icons, 'star');
			content: '';
			display: inline-block;
			position: relative;
			top: -1px;
		}
		&:before{
			margin-right: 10px;
		}
		&:after{
			margin-left: 5px;
		}
	}
	.promo__spiker{
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.065em;
		margin-bottom: 27px;
		font-family: 'Open Sans',sans-serif;
	}
	.promo__date{
		font-family: 'Open Sans',sans-serif;
		line-height: 1;
		@include sized-sprite($icons, 'master-class-top-date');
		margin: 0 auto;
		strong{
			font-weight: 400;
			font-size: 42px;
			display: block;
			padding: 16px 0 2px;
		}
		font-size: 17px;
	}
	.promo__time{
		font-size: 20px;
		font-weight: bold;
		display: block;
		padding: 11px 0 0;
	}
}
.main_master-class{
	background: #fff;
}
.master-class-text{
	width: 718px - 90px;
	border-radius: 0 0 12px 12px;
	margin: 0 auto;
	background: #f5f5f5;
	color: #1f2224;
	font-size: 16px;
	padding: 23px 45px 30px;
	line-height: 1.5;
	position: relative;
	margin-bottom: 45px;
	&:before{
		position: absolute;
		top: -24px;
		border:12px solid transparent;
		border-bottom-color: #f5f5f5;
		left: 50%;
		margin-left: -12px;
		content:'';
		z-index: 5;
	}
}

.master-class-faq{
	list-style: none;
	overflow: hidden;
	width: 962px;
	margin: 0 auto 47px;
	li{
		float: left;
		width: 450px - 120px;
		margin-left: 62px;
		padding-left: 120px;
		position: relative;
		min-height: 100px;
		&:first-child{
			margin-left: 0;
		}
	}
	p{
		font-size: 15px;
		color: #1f2224;
		line-height: 1.6;
	}
}
.master-class-faq__media{
	position: absolute;
	top: 13px;
	left: 0;
}
.master-class-faq__title{
	font-size: 28px;
	color: #000;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	margin-bottom: 15px;
}

.reg-block_master-class{
	background: url(../img/bg-reg-master-class-.jpg) no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	height: 176px;
	text-align: center;
	display: table;
	width: 100%;
	.btn_sm_dark{
		width: 420px;
	}
	p{
		font-size: 13px;
		color: #fff;
		margin: -11px 0 15px;
	}
	.reg-block__holder{
		height: 176px;
	}
}
.reg-block_small{
	height: 132px;
	.reg-block__holder{
		height: 132px;
	}
	.btn_sm_dark{
		width: 380px;
	}
}

.master-class-price{
	margin-top: -9px;
	padding: 0 0 18px;
	li{
		list-style: none;
		vertical-align: top;
		display: inline-block;
		width: 227px;
	}
	strong{
		display: block;
		font-weight: normal;
		font-size: 13px;
		color: #fffefe;
	}
}
.master-class-price__cost{
	font-size: 32px;
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	line-height: 1;
	margin-top: -7px;
	display: block;
	sup{
		font-size: 18px;
	}
	b{
		margin: 0 10px;
	}
}
.master-class-price__free{
	display: block;
	margin-top: 7px;
}
.spiker{
	background: #dedacc;
	padding: 45px 0 50px;
}
.spiker__inner{
	width: 962px;
	margin: 0 auto;
}
.spiker__photo{
	width: 176px;
	height: 176px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	border-radius:50%;
	margin: 0 auto 20px;
	position: relative;
	&:before, &:after{
		position: absolute;
		content:'';
		top: 83px;
	}
	&:before{
		left: -315px;
		@include sized-sprite($icons, 'corners1');
	}
	&:after{
		right: -315px;
		@include sized-sprite($icons, 'corners2');
	}
}
.spiker__name{
	font-size: 42px;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	text-align: center;
	color: #896e5d;
	margin-bottom: 10px;
}
.spiker__activity{
	color: #938c7a;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 7px;
}
.spiker__about{
	color: #655e4f;
	font-size: 16px;
	line-height: 1.5;
	padding: 35px 250px 0;
	position: relative;
	&:before{
		position: absolute;
		@include sized-sprite($icons, 'devider');
		content:'';
		left: 50%;
		margin-left: -5px;
		top: 8px;
	}
}

.uwc-help{
	width: 962px;
	margin: 0 auto;
	padding: 33px 0 10px;
}
.uwc-help__title{
	color: #814132;
	font-size: 28px;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}
.uwc-help__items{
	list-style: none;
	overflow: hidden;
	padding-left: 60px;
	li{
		float: left;
		width: 306px;
		margin-left: 82px;
		padding:35px 0 0 104px;
		position: relative;
		min-height: 100px;
		&:first-child{
			margin-left: 0;
		}
	}
	p{
		font-size: 16px;
		color: #1f2224;
		line-height: 1.6;
	}
	.img-coffee{
		position: absolute;
		left: 5px;
		top: 14px;
	}
	.img-mic{
		position: absolute;
		left: 25px;
		top: 22px;
	}
}

.tell-friends{
	border:1px solid #c3beac;
	border-radius:5px;
	width: 962px;
	margin: 22px auto;
	padding: 15px 0 18px;
}
.tell-friends__title{
	font-size: 28px;
	font-weight: normal;
	color: #000;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	margin-bottom: 11px;
}
.tell-friends__social{
	width: 450px;
	margin: 0 auto;
}

.partners_master-class{
	padding: 25px 0 5px;
	.partners__list{
		text-align: center;
		margin-bottom: 0;
		li{
			list-style: none;
			display: inline-block;
			margin: 0 43px;
		}
	}
	.partners__type{
		color: #AAB5BD;
		font-size: 13px;
		line-height: 1.69;
		display: inline-block;
		margin-right: 25px;
	}
	.partners__logo{
		display: inline-block;
	}
}
.master-classes{
	padding: 53px 0 23px;
}
.master-classes__title{
	font-size: 28px;
	color: #000;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	min-height: 57px;
	margin-bottom: 12px;
}
.master-classes__list{
	overflow: hidden;
	margin-bottom: 17px;
	li{
		float: left;
		list-style: none;
		padding: 0 0 0 5px;
		max-width: 325px;
		margin-bottom: 25px;
	}
}
.master-classes__spiker-photo{
	height: 80px;
	margin-right: 20px;
	width: 80px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
}
.master-classes__content{
	float: left;
	padding-top: 5px;
	width: 225px;
}
.master-classes__name{
	font-size: 15px;
	margin-bottom: 10px;
	a{
		color: #009ad4;
		&:hover{
			text-decoration: none;
		}
	}
}
.master-classes__spiker-name{
	font-size: 11px;
	color: #886d5d;
}